@model HWMvcPartThree.Models.ViewModels.FoodViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<form method="post" asp-action="Edit" asp-controller="Food">
    <div asp-validation-summary="All" />
    <input type="hidden" asp-for="Id" />
    <label>Model</label>
    <input class="form-control" name="Model" value="@Model.NameP" />
    <span asp-validation-for="NameP"></span>
    <br />
    <label>Cost</label>
    <input class="form-control" asp-for="Cost" />
    <span asp-validation-for="Cost"></span> <br />
    <select class="form-control" asp-for="FoodCotegoryId" asp-items="@Model.Cotegories"></select>
    <span asp-validation-for="Cost"></span> <br />
    <input class="btn btn-success" type="submit" title="Save" value="Update" />
    <a class="btn" asp-controller="Food" asp-action="Index">Back</a>
</form>
